.ce {
  background-color: orange;
  color: blue;
  border: 2px solid black;
  margin: 10px;
  padding: 20px;
}
	body {font-family: Cabin,Helvetica,sans-serif; }
h1{font-family: Cabin, Helvetica, sans-serif;
color:blue;
text-align:center;
background-color:white;
font-size:20px;
border:3px solid black;
}
		